<!DOCTYPE html>
<html>
<head>
  <title>Cmsify</title>
  <%= stylesheet_link_tag    "cmsify/application", media: "all" %>
  <%= javascript_include_tag "cmsify/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
